.form {
  border-radius: 32px;
  border: 6px solid #fcfcfc;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.header {
  color: #2e2e2e;
  font-size: 40px;
  font-weight: 500;
  line-height: 46.88px;
  margin: 20px 0px 10px;
  font-family: "Roboto", sans-serif;
}
.span {
  color: #8e8e8e;
  font-size: 23px;
}
.labeled {
  position: relative;
}
.labeled i {
  position: absolute;
  color: #8e8e8e;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* .labeled label {
  position: absolute;
  left: 15px;
  top: -5px;
  background-color: #8e8e8e;
} */

.inputs {
  background-color: #f3f3f3 !important;
  border: 1px solid #8e8e8e !important;
  width: 100%;
  border-radius: 8px;
  padding: 10px 8px;
}
.inputs::placeholder {
  color: #8e8e8e !important;
}
.inputs:focus {
  border: 1px solid #8e8e8e !important;
  outline: none;

  /* فيه لون ناقص */
}
.forget {
  color: #d33535;
}
.buttons {
  background-color: transparent !important;
  border: 1px solid #8e8e8e !important;
  width: 100%;
  border-radius: 8px;
  padding: 10px 8px;
}
.button {
  background-color: #5b8f9a !important;
  color: #fcfcfc !important;
  transition: 0.5s background-color;
}
/* .button:hover {
  background-color: #5b909ad0 !important;
} */
.line {
  height: 1px;
  width: 45%;
  background: #8e8e8e;
}
.or {
  color: #8e8e8e;
  width: 10%;
  text-align: center;
}

.img {
  width: 20px;
}

.link {
  color: #5b8f9a;
}
